---
- hosts: localhost
  tasks:
    - name: Get Remote CI information
      dci_remoteci:
        id: "{{ lookup('env', 'DCI_CLIENT_ID').split('/')[1]}}"
      register: remote_ci

    - name: Show Remote CI information
      debug:
        var: remote_ci

    - name: Schedule a new job
      dci_job:
        name: 'rhocp-jnpr-{{ ansible_date_time.iso8601 }}'
        topic: 'OCP-4.10'
        dci_client_id: "{{ lookup('env', 'DCI_CLIENT_ID') }}"
        dci_api_secret: "{{ lookup('env', 'DCI_API_SECRET') }}"
        dci_cs_url: "{{ lookup('env', 'DCI_CS_URL') }}"
      register: job_info

    - name: Show Remote CI information
      debug:
        var: job_info

---
- hosts: localhost
  vars:
    dci_status: 'pre-run'
    dci_comment: 'Making preparations'
    job_id: "{{ job_info['job_id'] }}"
  tasks:
    - name: Changing the status of the job to pre-run
      debug:
        msg: "The job has changed to pre-run state"

---
- hosts: localhost
  vars:
    dci_status: 'running'
    dci_comment: 'Running'
    job_id: "{{ job_info['job_id'] }}"
  tasks:
    - name: Changing the status of the job to running
      debug:
        msg: "The job has changed to running state"

---
- hosts: localhost
  vars:
    dci_status: 'post-run'
    dci_comment: 'Executing tests'
    job_id: "{{ job_info['job_id'] }}"
  tasks:
    - name: Changing the status of the job to post-run
      debug:
        msg: "The job has changed to post-run state"

---
- hosts: localhost
  vars:
    dci_status: 'success'
    dci_comment: 'Finished job'
    job_id: "{{ job_info['job_id'] }}"
  tasks:
    - name: Changing the status of the job to success
      debug:
        msg: "The job has changed to success state"

