---
- hosts: localhost
  tasks:
    - name: Get Remote CI information
      dci_remoteci:
        id: "{{ lookup('env', 'DCI_CLIENT_ID').split('/')[1]}}"
      register: remote_ci

    - name: Show Remote CI information
      debug:
        var: remote_ci

    - name: Schedule a new job
      dci_job:
        name: 'rhocp-jnpr-{{ ansible_date_time.iso8601 }}'
        topic: 'OCP-4.10'
        dci_client_id: "{{ lookup('env', 'DCI_CLIENT_ID') }}"
        dci_api_secret: "{{ lookup('env', 'DCI_API_SECRET') }}"
        dci_cs_url: "{{ lookup('env', 'DCI_CS_URL') }}"
      register: job_info

    - name: Show Remote CI information
      debug:
        var: job_info

    - name: Pause - Please check that a new job has been created
      pause:
        seconds: 15

    - name: Set job state to pre-run
      dci_job:
        state: pre-run
        id: "{{ job_info['job']['id'] }}"

    - name: Pause - Please check that the job status has changed to pre-running
      pause:
        seconds: 15

    - name: Set job state to running
      dci_job:
        state: running
        id: "{{ job_info['job']['id'] }}"

    - name: Pause - Please check that the job status has changed to running
      pause:
        seconds: 15

    - name: Set job state to post-run
      dci_job:
        state: post-run
        id: "{{ job_info['job']['id'] }}"

    - name: Pause - Please check that the job status has changed to post run
      pause:
        seconds: 15

    - name: Set job state to running
      dci_job:
        state: success
        id: "{{ job_info['job']['id'] }}"

    - name: Pause - Please check that the job has finished succesfully
      pause:
        seconds: 15

    - name: Remove a job
      dci_job:
        state: absent
        id: "{{ job_info['job']['id'] }}"